.button {
    color: var(--color-control-primary-typo);
    border-radius: 6px;
    padding: 8px 40px;
    font-style: normal;
    font-size: var(--typo-size-l);
    font-family: 'Roboto', sans-serif;
}

.primary {
    background-color: var(--color-control-primary-bg);
    border: none;
}

.borders {
    background: none;
    border: 1px solid var(--color-control-primary-bg);
    /* box-sizing: border-box; */
}